@page
@model Index

@{
    ViewData["Title"] = "Books";
}

<h1 class="display-4">Books</h1>

<strong>@Model.BooksCount@(Model.BooksCount == Model.PageSize ? "+" : "")</strong> results found

<form>
    <div class="form-group mt-3 col-sm-4">
        <label asp-for="SearchString">Title</label>
        <input type="text" asp-for="SearchString" class="form-control" placeholder="Enter the book's title..."/>
    </div>

    <div class="form-group mt-2 col-sm-4">
        <label asp-for="Author">Author</label>
        <input type="text" asp-for="Author" class="form-control" placeholder="Enter the book's author..."/>
    </div>

    <div class="form-group mt-2 col-sm-4">
        <label asp-for="Subject">Subject</label>
        <input type="text" asp-for="Subject" class="form-control" placeholder="Enter the book's subject..."/>
    </div>

    <div class="form-group mt-2">
        <input type="checkbox" asp-for="HasDescription" class="form-check-input"/>
        <label asp-for="HasDescription" class="form-check-label">Has description</label>

        <input type="checkbox" asp-for="HasCover" class="form-check-input"/>
        <label asp-for="HasCover" class="form-check-label">Has cover</label>
    </div>

    <div class="form-group mt-2">
        <input type="submit" class="btn btn-primary" value="Search"/>
    </div>
</form>

<table class="table">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Title</th>
        <th scope="col">Authors</th>
        <th scope="col">Description</th>
        <th scope="col">OpenBook ID</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in Model.Books)
    {
        <tr>
            <td>
                <img src="@book.ThumbnailUrl" alt="@book.Title"/>
            </td>
            <th>
                <a asp-page="Details" asp-route-id="@book.Id">@book.Title</a>
            </th>
            <td>@book.AuthorsString</td>
            <td>@book.Description</td>
            <td>@book.Id</td>
        </tr>
    }
    </tbody>
</table>

@if (Model.PageIndex > 1)
{
    <a class="btn btn-primary"
       asp-page="Index"
       asp-route-SearchString="@Model.SearchString"
       asp-route-Author="@Model.Author"
       asp-route-Subject="@Model.Subject"
       asp-route-HasDescription="@Model.HasDescription"
       asp-route-HasCover="@Model.HasCover"
       asp-route-pageIndex="@(Model.PageIndex - 1)">
        Previous page
    </a>
}

@if (Model.BooksCount == Model.PageSize)
{
    <a class="btn btn-primary"
       asp-page="Index"
       asp-route-SearchString="@Model.SearchString"
       asp-route-Author="@Model.Author"
       asp-route-Subject="@Model.Subject"
       asp-route-HasDescription="@Model.HasDescription"
       asp-route-HasCover="@Model.HasCover"
       asp-route-pageIndex="@(Model.PageIndex + 1)">
        Next page
    </a>
}